################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LlamachantFramework.Module/obj
/LlamachantFramework.Module.Web/obj
/LlamachantFramework.Module.Win/obj
